@import "../../themes/themes";

.card-body {
  margin-top: 40px;

  input {
    padding-left: 10px;
    border: none;
    height: 45px;
    background-color: $search-bar;
    border-radius: 9px;
    width: 100%;
    color: inherit;
    font-size: 20px;
    font-family: inherit;
    font-weight: bold;
  }

  .search-icon {
    float: right;
    position: relative;
    top: -45px;
    transform: translateY(55%);
  }

  #no-word-types-error {
    color: red;
  }

  .input-error-border {
    border: 1px red solid;
  }
}
