$background: var(--background);
$font-color: var(--font-color);
$vertical-bar: var(--vertical-bar);
$theme-change-icon-color: var(--theme-change-icon-color);
$search-bar: var(--search-bar);
$search-bar: var(--search-bar);
$syllable: var(--syllable);
$segment-line: var(--segment-line);
$bullet-point: var(--bullet-point);
