@import "./app/themes/themes";

body {
  background-color: $background;
}
body {
  margin: 0;
  font-family: "sans-serif";
  font-size: 20px;
}

:focus-visible {
  outline: none;
}

/* Responsiveness */

@media screen and (max-width: 767px) {
  /*  Mobile device */
  .card {
    width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* table/iPad */
  .card {
    width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  /* Desktop device */
  .card {
    width: 60%;
  }
}
